/* External stylesheet */

/*
Universal CSS
CSS that is used on multiple pages
*/
html, body{
	padding: 0;
	margin:0;
	height: 100%;
	font-family: "Rubik", sans-serif;
}
.main-body{
	width: 80%;
  margin-top: 30px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center-text{
	text-align: center;
}
#green-button{
	background-color: #1DB954;
	width: 100%;
	color: white;
}
.green-button{
	background-color: #1DB954 !important;
	color: white !important;
}

iframe {
  border-radius: 15px;
	width:100%;
	border: none;
	height: 80px;
}

/* Template */
.column{
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.column-content{
  padding: 20px 20px 20px 20px;
}

/* Music Player */
.music-player-song-pic{
	width: 80%;
	border-radius: 15px;
  margin-bottom: 10px;
}
.song-name{
	font-size: 1.5vw;
	text-align: center;
}
.artist-name{
	font-size: 1vw;
	text-align: center;
}
.musicbar {
  width: 90%;
	display: block;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.lyrics-title{
  font-size: 1.25vw;
  display: block;
  margin: auto;
  padding-left: 10px;
}
.lyrics {
  display: block;
  height: 30vh;
  margin: auto;
  margin-top: 20px;
  font-size: 14px;
  overflow-y: auto;
  line-height: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.lyrics::-webkit-scrollbar {
  -webkit-appearance: none;
}
.lyrics::-webkit-scrollbar:vertical {
  width: 11px;
}
.lyrics::-webkit-scrollbar:horizontal {
  height: 11px;
}
.lyrics::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

/*
Page speific CSS
CSS that is used on one page
*/

/* navbar */
.navbar{
  padding-left: 5%;
  padding-right: 5%;
}
.dropdown-menu{

}
.dropdown-item:active{
  background-color: #1DB954;
}

/* Welcome Page */

#maintext {
  font-family: rubik, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  text-align: center;
  color: #B1E8C7;
  line-height: 30px;
}

#logo {
  width: 200px;
  margin-left: 50px;
  margin-top: 30px;
  float: left;
}
.logo {
  width: 180px;
  position: relative;
}

#welcome-button:hover{
  color: black;
  background-color: #1DB954;
}
.welcome-center-vertical {
  height: 70%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#name-container {
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}

.name-img {
  height: 100%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Home Page */
.welcome-message{
	margin-top: 15px;
}

.picture-row{
  margin-top: 15px;
}

.left-banner {
	background-image: url(../images/Khalid_-_Product_Page_Banner.jpg);
	background-size: cover;
	height: 350px;
	padding: 40px;
  border-radius: 15px;
}

.bannertext{
	text-shadow: 2px 2px #1DB954;
	font-weight: bold;
  font-size: 2vw;
}
.row-title{
  font-size: 1.5vw;
}
.column-pic{
  width:100%;
  border-radius: 5px;
  margin-bottom: 3px;
}
.column-title{
  font-size: 0.8vw;
}
.column-info{
  font-size: 0.6vw;
}

/*User Playlists Page*/
.profile-pic{
	width:100%;
}
.playlist-pic{
	width:100%;
	margin-bottom: 3px;
	object-fit: cover;
	border-radius: 5px;
}
.playlist-main-pic{
	border-radius: 5px;
	width: 215px;
	height: 215px;
	object-fit: cover;
}
.spot-container{
	width: 20%;
}
.spot-title{
  font-size: .83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.spot-info{
	font-size: .67em;
  margin-left: 0;
  margin-right: 0;
}

/*admin_user*/
.btn-space{
	margin-right: 5px;
}
.leader{
	color: white;
	text-decoration: underline;
}
.form-messages {
		background-color: rgb(255, 232, 232);
		border: 1px solid red;
		color: red;
		display: none;
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 10px;
		padding: 10px 25px;
}
.hidden{
	display: none;
}
.display_message{
	color: #1DB954;
}

/*Profile page*/
.profile{
	width: 80%;
}

/*Results page*/
.spotify-results{
	display: block;
}
.database-results{
	display: none;
}

/*Spotify connection page */
.spotify-message{
	display: flex !important;
  justify-content: center !important;
  align-items: center !important;
	height: 100px;
	width: 100%;
	text-align: center;
}

/*Playlist Page */
.song{
	width: 25%;
}
.fa-star{
	color: #1DB954;
}
.fa-star-half-alt{
	color: #1DB954;
}
.link-name{
	color:#1DB954;
}
.link-name:hover{
	color:green;
}
.td-class {
  white-space: normal !important;
  word-wrap: break-word;
}
.table-fixed {
  table-layout: fixed;
}
