/* External stylesheet */

/*
Universal CSS
CSS that is used on multiple pages
*/
html, body{
  background-color: #121212;
	padding: 0;
	margin:0;
	height: 100%;
	font-family: "Rubik", sans-serif;
}
.main-body{
	width: 80%;
  margin-top: 30px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center-text{
	text-align: center;
}
#green-button{
	background-color: #1DB954;
	width: 100%;
	color: white;
}

/* Template */
.column{
  background-color: #535353;

  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
}
.column-content{
  padding: 20px 20px 20px 20px;
}

/* Music Player */
.music-player-song-pic{
	width: 80%;
	border-radius: 15px;
  margin-bottom: 10px;
}
.song-name{
	font-size: 1.5vw;
	color: #FFFFFF;
	text-align: center;
}
.artist-name{
	color: #B3B3B3;
	font-size: 1vw;
	text-align: center;
}
.musicbar {
  width: 90%;
	display: block;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.lyrics-title{
  font-size: 1.25vw;
  display: block;
  margin: auto;
  padding-left: 10px;
  color: #FFFFFF;
}
.lyrics {
  display: block;
  height: 30vh;
  margin: auto;
  margin-top: 20px;
  font-size: 14px;
  color: #b3b3b3;
  overflow-y: auto;
  line-height: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.lyrics::-webkit-scrollbar {
  -webkit-appearance: none;
}
.lyrics::-webkit-scrollbar:vertical {
  width: 11px;
}
.lyrics::-webkit-scrollbar:horizontal {
  height: 11px;
}
.lyrics::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: white;
}

/*
Page speific CSS
CSS that is used on one page
*/

/* navbar */
.navbar{
  padding-left: 5%;
  padding-right: 5%;
}

/* Welcome Page */
#maintext {
  font-family: rubik, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  text-align: center;
  color: #B1E8C7;
  line-height: 30px;
}
#logo {
  width: 200px;
  margin-left: 50px;
  margin-top: 30px;
  float: left;
}
.logo {
  width: 180px;
  position: relative;
}
#welcome-button:hover{
  color: black;
  background-color: #1DB954;
}
.welcome-center-vertical {
  height: 70%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#name-container {
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}
.name-img {
  height: 100%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Login Sign-up Page */
.login_and_signup_container{
	display:flex;
	justify-content: space-between;
}
.login{
	width:48%
}
.signup{
	width:48%
}
.login-signup-main{
	background-color: #B3B3B3;
	padding-top: 50px;
	padding-right: 20px;
	padding-bottom: 50px;
	padding-left: 20px;
	border-radius: 25px;
}

/* Home Page */
.picture-row{
  margin-top: 15px;
}
.left-banner {
	background-image: url(../images/Khalid_-_Product_Page_Banner.jpg);
	background-size: cover;
	height: 35vh;
	padding: 40px;
	color: white;
  border-radius: 15px;
}
.bannertext{
	text-shadow: 2px 2px #1DB954;
	font-weight: bold;
  font-size: 2vw;
}
.row-title{
  color: #FFFFFF;
  font-size: 1.5vw;
}
.column-pic{
  width:100%;
  border-radius: 5px;
  margin-bottom: 3px;
}
.column-title{
  color: #FFFFFF;
  font-size: 0.8vw;
}
.column-info{
  font-size: 0.6vw;
}

/* Results Page */
.results-main{
  width: 80%;
  margin-top: 30px;

	background-color: #B3B3B3;
	padding-top: 50px;
	padding-right: 20px;
	padding-bottom: 50px;
	padding-left: 20px;
	border-radius: 25px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
